h2 {
    font-size: 30px;
}
h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #132f44;
}

p {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: "#f5f5f5"
}